@import '../node_modules/antd/dist/antd.css';

.App {
  background: #edf3ff; // TODO: Change
  min-height: 100vh;
}

.site-layout-background{
  background: transparent;
  border-bottom: 1px solid #ccc;
  // width: 100%;
  flex-direction:column-reverse;
}

.content-container{
  background: white;
  padding: 20px;
}
